.landingpage {
  /* height: 100vh; */
}

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  /* width: 90vw; */
  background-color: #f6f7f9;
  border-radius: 55px;
}

nav > .pagelinks {
  display: flex;
}

button, p {
  margin: 1.4rem;
  padding: 0.5rem 1.4rem;
}

button {
  margin-left: 0;
}

.btnGrp {

}

.affiliate-btn, .sign-up-btn {
  border: 1px solid #98a2b3;
  border-radius: 100px;
}

.sign-up-btn {
  background-color: #175cd3;
  color: white;
}

.affiliate-btn {
  background-color: white;
  margin: 1.4rem;
  padding: 0.5rem 1.4rem;
}

.hero {
  display: flex;
  margin-top: 3rem;
}

.hero-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.hero-content > h1, h4 {
  text-align: left;

  /* background-color: pink; */
  margin: 0.4rem 0;
}

.media-icons {
  display: flex;
  justify-content: space-between;
  width: 96%;
  /* background-color: pink; */
}

.social-links-tagline {
  font-size: 18px;
  text-align: center;
}


/* Pricing */

.pricing {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}


.pricingContainer {
  text-align: center;
  /* background-color: #f6f7f9; */
}

.priceList {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.pricingCard {
  border: 1px solid #eff8ff;
  border-radius: 10px;
  padding: 3rem;
  width: 300px;
  margin: 2.4rem;
  background-color: #eff8ff;
}

.pricingCard > ul {
  list-style: none;
}

.pricingCard > h4 {
  text-align: center;
}

.priceplan {
  color: #667085;
}


/* affiliate */

.affiliate {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
}

.banner {
  background-color: #eff8ff;
  width: 100%;
  padding: 4rem 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
