.landingpage {
  height: 100vh;
}

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  /* width: 90vw; */
  background-color: #f6f7f9;
  border-radius: 55px;
}

nav > section {
  display: flex;

}

button, p {
  margin: 1.4rem;
  padding: 0.5rem 1.4rem;
}

.btnGrp {

}

.affiliate-btn, .sign-up-btn {
  border: 1px solid #98a2b3;
  border-radius: 100px;
}

.sign-up-btn {
  background-color: #175cd3;
  color: white;
}

.affiliate-btn {
  background-color: white;
  margin: 1.4rem;
  padding: 0.5rem 1.4rem;
}

.hero {
  display: flex;
  margin-top: 3rem;
}

.hero-content {
  display: flex;
  flex-flow: column;

  align-items: flex-start;
  /* justify-content: start; */

  /* background-color: aqua; */
  display: flex;
  justify-content: center;
}

.hero-content > h1, h4 {
  text-align: left;

  /* background-color: pink; */
  margin: 0.4rem 0;
}

.media-icons {
  display: flex;
  justify-content: space-between;
  width: 96%;
}

.social-links-tagline {
  font-size: 18px;
  text-align: center;
}


/* Pricing */

.pricing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.pricingContainer {
  text-align: center;
  /* background-color: #f6f7f9; */
}

.priceList {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.pricingCard {
  border: 1px solid #eff8ff;
  border-radius: 10px;
  padding: 3rem;
  width: 300px;
  margin: 2.4rem;
  background-color: #eff8ff;
}

.pricingCard > ul {
  list-style: none;
}

.pricingCard > h4 {
  text-align: center;
}


/* affiliate */

.affiliate {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.banner {
  background-color: #eff8ff;
  width: 100%;
  padding: 4rem 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
